<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter Game!</title>
  </head>
  <body>
    <h1>Word Counter Game!</h1>
    <form action="/word" method="post">
      <label for="userWord">Add a new word: </label>
      <input id="userWord" name="userWord" type="text">
      <label for="userSentence">Add a new sentence: </label>
      <input id="userSentence" name="userSentence" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>